.parallaxBackground {
    background-image: url("./../../assets/img/Desktop-1.jpg");
  
    height: 800px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .filterOpaque{
    background: rgba(7, 53, 109, 0.35);
    z-index: 100;
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pentaLogo{
    padding-top: 23rem;
    width: 25rem;
  }

  @media only screen and (min-width: 48em) {
    .pentaLogo{
        padding-top: 15rem;
        width: 40rem;
      }
}

.headerBand{
    background-color:#0b376c;
    position: relative;
}
.headerBand > .col{
    padding:15px;
}
.headerBand > .col > a{
    color: #fff;
    font-family: Integral_CF, Arial;
}

.scheduleContainer{
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.sectionTitle{
    display:flex;
    color: #0b376c;
    font-family: Integral_CF, Arial;
    font-size: 34px;
    padding: 50px 0px 20px 0px;
    justify-content: flex-start;
}

.scheduleCard{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom:1rem;
    width: 100vw;
}

.schedulePicto{
    background-color: #0b376c;
    width: calc(180px/ var(--size-divisor));
}

.schedulePicto > img{
    padding: 10px;
}

.scheduleText{
    padding: 18px;
    width: calc(300px / var(--size-divisor));
}

.scheduleText > span{
    font-family: Avenir_Black, Arial;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

@media (max-width: 500px){
    .scheduleText > span{
        font-family: Avenir_Black, Arial;
        font-size: 25px;
        line-height: 36px;
        text-transform: uppercase;
    }
  }

.scheduleGreen{
    background: linear-gradient(to right, #007A36, rgba(0,0,0,0), #007A36);
}
.scheduleGreen > span{
    color: #007A36;
}

.scheduleRed{
    background: linear-gradient(to right, #D51317, rgba(0,0,0,0), #D51317);
}
.scheduleRed > span{
    color: #D51317;
}

.scheduleBlue{
    background: linear-gradient(to right, #23B9D6, rgba(0,0,0,0), #23B9D6);
}
.scheduleBlue > span{
    color: #23B9D6;
}

.picto1{
    max-width:95px;
}

.picto2{
    max-width:69px;
}

.picto3{
    max-width:72px;
}

.picto4{
    max-width:66px;
}

.sliderPhoto{
    max-width:300px;
}

.slick-slide > div > div{
    width: 500px!important;
    height: 250px!important;
}

.slick-dots .slick-active button:before {
    color: #0b376c!important;
  }

  .slick-dots .slick-active button:before:hover {
    color: #0b376c!important;
  }  

.sliderContainer{
    width:100%!important;
}

.sliderContainer > span{
    display: flex;
    font-family:Avenir_Heavy, Arial;
    color:#07356D;
    justify-self: left;
    font-size: 13px;
}

.sliderContainer > h3{
    display: flex;
    font-family: Avenir_Black, Arial;
    color:#07356D;
    justify-self: left;
    font-size: 27px;
}

.miniCards > span{
    display: flex;
    font-family: Avenir_Black, Arial;
    background-color:#07356D;
    color:#fff;
    justify-self: left;
    font-size: 12px;
    padding: 3px;
    margin-right: 1rem;
}

.miniCards{
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-wrap: wrap;
}

.seeMoreButton{
    background-color: #D51317;
    font-family: Avenir_Heavy, Arial;
    color: #fff;
    border-radius: 0px!important;
}

.bannerImage{
    width: 100%;
    object-fit: cover;
    height: 435px;
    position: absolute;
    left: 0;
    top: 0;
}

.descriptionBox{
    background-color: #07356D;
    display: flex;
    flex-wrap: wrap;
    height: 435px;
    right: 0;
    flex: 0.35 1;
    z-index: 100;
    padding: 50px;
    color: #fff;
    text-align: left;
}

.descriptionBox>h1{
    font-family: Integral_CF, "Arial";
    font-size: 66px;
    line-height: 62px;
    padding-bottom:1rem;
}
.descriptionBox>span{
    font-family: Avenir_Book, "Arial";
    font-size: 16px;
    line-height: 20px;
}

.descriptionHeader{
    display: flex;
    justify-content: flex-end;
}

.learnMore{
    font-size: 18px;
}