@font-face {
  font-family: Integral_CF;
  src: url("./assets/fonts/IntegralCF-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: Avenir_Black;
  src: url("./assets/fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
  font-family: Avenir_Book;
  src: url("./assets/fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: Avenir_Heavy;
  src: url("./assets/fonts/AvenirLTStd-Heavy.otf") format("opentype");
}

.headerRow{
  flex-wrap:initial!important;
}

.headerRowAlt{
  flex-wrap:initial!important;
  margin-bottom: -1.8em;
}

:root {
  --size-divisor: 1;
}

*{
  padding: 0;
  margin: 0;
}


.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */

.mainLogo{
  padding-top: 1rem;
}

.navContainer{
  flex-wrap: wrap;
  flex-direction: column;

}

@media(max-width: 992px){
  .fixednavContainer{
    flex-wrap: wrap;
      flex-direction: column;
      top: 0;
      width: 100%;
      height: 83px;
      position: fixed;
      z-index: 500;
      background-color: white;
  }
  .initialnavContainer{
    flex-wrap: wrap;
      flex-direction: column;
      top: 0;
      width: 100%;
      height: 83px;
      position: initial;
      z-index: 500;
      background-color: white;
  }
}

.burgerButton{
  display: flex;
  background-color: #D51317;
  color: #fff;
  font-family: Integral_CF, Arial;
  font-size: 13px;
  align-self: end;
  padding-top: 1.2rem;
  width: 7rem;
  height: 7rem;
  -webkit-clip-path: polygon(50% 3%, 100% 30%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 3%, 100% 30%, 82% 100%, 18% 100%, 0% 38%);
  transform: rotate(40deg);
  margin-top: -3em;
  margin-left: -1em;
  cursor:pointer;
  z-index: 1000;
}

.signinButton{
  display:flex;
  background-color: #07356D;
  color: #fff;
  font-family: Integral_CF, Arial;
  font-size: 13px;
  align-self: flex-start;
  padding-top: 1.2rem;
}

.bookButton{
  display:flex;
  background-color: #D51317;
  color: #fff;
  font-family: Integral_CF, Arial;
  font-size: 13px;
  align-self: flex-start;
  padding-top: 1.2rem;
}

.searchButton{
  display:flex;
  background-color: #ffffff;
  align-self: flex-start;
  padding-top: 1.2rem;
}
.buttonBurgerContent{
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}
.buttonContent{
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  padding: 0px 20px 20px 20px;
}

.buttonText{
  display: flex;
  align-self:center;
}

.signImage{
  width: 33.5px;
}

.signSearch{
  width: 41px;
}

.burgerImage{
  width: 38px;
  position: absolute;
  margin-left: 1.2em;
  margin-top: 1.5em;
  z-index: 1000;
  cursor: pointer;
  pointer-events: none;
}

.crossBack {
  width: 30px;
  height: 30px;
  left: 2.7rem;
  top: 1.3rem;
  position: absolute;
  z-index: 10000;
  display:none;
  cursor: pointer;
}

.crossOne {
  height: 30px;
  width: 3px;
  margin-left: 12px;
  background-color: #07356D;
  transform: rotate(45deg);
  z-index: 1;
}

.crossTwo {
  height: 30px;
  width: 3px;
  background-color: #07356D;
  transform: rotate(90deg);
  z-index: 2;
}

/* Main Menu */

.menuMain{
  display:none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #07356D;
  overflow-y: auto;
}

.mainList{
  text-align: left;
  width:100%;
  justify-content: center;
  padding-top: 7rem;
}

.mainList ul li a{
  color: white;
  font-family: Avenir_Black, Arial;
  font-size: 22px;
  text-transform: uppercase;
  cursor:pointer;
  list-style-type:none;
}

.mainList ul li a:hover, .mainList ul li a:active{
  color: #D51317;
  font-family: Avenir_Black, Arial;
  font-size: 22px;
  text-transform: uppercase;
}
.dropdownLogo .arrow.arrow-bar::before:hover{
  background-color: #D51317
}

@media (min-width: 992px){
  .mainList ul li a{
    color: white;
    font-family: Avenir_Black, Arial;
    font-size: 32px!important;
    text-transform: uppercase;
    cursor:pointer;
    list-style-type:none;
  }

  .mainList ul li a:hover, .mainList ul li a:active, .mainList ul li a .dropdownLogo .arrow.arrow-bar::before:hover{
    color: #D51317;
    font-family: Avenir_Black, Arial;
    font-size: 32px!important;
    text-transform: uppercase;
  }
}

.menuMain{
  justify-content: center;
  width: 100%;
}
.menuMain .row {
  justify-content: center;
  align-content: inherit;
  width:100%;
}

.dropdownItems{
  background-color:#fff;
  display:none;
}

@media (max-width: 992px){
  .dropdownItems{
    background-color: #fff;
    display: none;
    position: relative;
    left: 50%;
    width: 100vw;
    text-align: center;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  .pSearch{
    padding-top: 14px;
    padding-bottom: 22px;
  }
}
@media (max-width: 1160px){
  .pSearch{
    padding-top: 14px;
    padding-bottom: 4px;
  }
}

.activeMenu{
  color:#D51317!important;
}

.dropdownItems ul li a{
  color: #07356D!important;
  font-family: Avenir_Black, Arial;
  text-transform: initial!important;
  font-size: 20px!important;
}

.dropdownItems a:hover{
  font-family: Avenir_Black, Arial;
  color: #07356D!important;
  text-decoration:underline;
}

.subDropdown{
  display: flex;
  margin: 0 auto;
  left: 50vw;
  right: 50vw;
  text-align: left;
  width: 17rem;
}

.dropdownLogo{
  display: flex;
  position: relative;
  right: -15rem;
  top: -1.7rem;
}

.altList{
  text-align:left;
  padding-top: 7.5rem;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  display: inline-block;
  height: 12px;
  position: relative;
  width: 12px;
}
.arrow::after {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  content: "";
  display: inline-block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}
.arrowbarAccessor, .arrow.arrow-bar::before {
  bottom: 1px;
  content: "";
  height: 30px;
  position: absolute;
  right: 0;
  transform-origin: bottom;
  width: 2px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color:#fff
}
.arrow.is-right {
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  right: -10rem;
  top: -0.5rem;
}

.arrow.arrow-bar.focusedArrowHover::before{
  background-color: #D51317;
}

/* FOOTER */

.imgFooter{
  background-image: url("./assets/img/img-footer.jpg");
  
  height: 150px;
}

.redFilter{
  background: rgba(213, 19, 23, 0.6);
  z-index: 100;
  height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.redFilter:hover{
  background: rgba(7, 53, 109, 0.6);
  text-decoration: underline;
  color: white;
}

.textFooter{
  font-family: Integral_CF, Arial;
  font-size: 36px;
  color: #FFFFFF;
}

.footerContent{
  background-color: #07356D;
}

.footerText{
  font-family: Avenir_Book, Arial;
  font-size: 14px;
  color :#FFFFFF;
  display: flex;
  justify-content: center;
}

.footerBullet{
  list-style-type: none;
  text-align: left;
  font-size: 16px;
}

.footerPicto{
  padding:2em;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

@media (min-width: 992px){
  .footerPicto{
    padding:1em;
  }
}
.footerPicto:hover{
  transform: scale(1.3);
}
.ptFooter{
  padding-top: 2em;
}
.pbFooter{
  padding-bottom: 2em;
}

.footerLink{
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.footerLink:hover{
  transform: scale(1.1);
  text-decoration:underline;
}

/* CUSTOM on : material-ui */

.selectBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiSelect-selectMenu{
  border-bottom: 2px solid #07356D!important;
  color: #07356D!important;
  font-family: Avenir_Black, Arial!important;
}

.MuiSelect-icon{
  color: #07356D!important;
}

.MuiMenuItem-root{
  color: #07356D!important;
  font-family: Avenir_Black, Arial!important;
}

.MuiInputLabel-root{
  color: #07356D!important;
  font-family: Avenir_Book, Arial!important;
}

.MuiButton-label{
  color: #07356D!important;
  font-family: Integral_CF, Arial!important;
}